<div class="full-height clr-row home-container">
  <div class="clr-row clr-align-items-center container">
    <div class="clr-col-1"></div>
    <div class="clr-col-5">
      <h1>¿Cómo vota Bogotá?</h1>
      <p class="head">El seguimiento al comportamiento de los partidos políticos durante el tiempo y durante las
        diferentes elecciones no se ha realizado a profundidad debido a que el objetivo principal después de unas
        elecciones es el seguimiento a los candidatos, pero validar los comportamiento de los partidos puede evidenciar
        formulas politicas para obtener votantes. El objetivo de esta visualización es permitir la exploración por los
        datos de votaciones de 2006 a 2018 apuntando a la identificación de estos comportamientos. </p>
    </div>
    <div class="clr-col-5 clr-align-self-end">
      <app-map (onUpdateScaleColors)="setScaleColors($event)" [width]="800"></app-map>
    </div>
    <div class="clr-col-1"></div>
  </div>

  <div class="clr-row clr-align-self-end clr-justify-content-center" style="width: 100%">
    <div class="clr-col-6">
      <div class="card" style="margin-bottom: -50px !important">
        <div class="card-block">
          <div class="card-title">
            Desarrollado con...
          </div>
          <div class="card-text">
            <div class="clr-row clr-justify-content-center">
              <div class="home-tool-container">
                <img alt="D3 logo" src="assets/images/d3.svg" class="home-tool-logo">
                <h4>D3</h4>
              </div>
              <div class="home-tool-container">
                <img alt="Angular logo" src="assets/images/angular.svg" class="home-tool-logo">
                <h4>Angular</h4>
              </div>
              <div class="home-tool-container">
                <img alt="Angular logo" src="assets/images/clarity_logo.svg" class="home-tool-logo">
                <h4>Clarity<br />Design</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>