<div class="clr-row buttons-container clr-justify-content-center">
    <div class="btn-group">
        <div class="radio btn">
            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1" value="votations" [(ngModel)]="selected_axis">
            <label for="btn-demo-radio-1">Ejes: Votaciones</label>
        </div>
        <div class="radio btn">
            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2" value="party" [(ngModel)]="selected_axis">
            <label for="btn-demo-radio-2">Ejes: Partidos</label>
        </div>
    </div>
</div>
<div id="radar-svg"></div>