<clr-dropdown [clrCloseMenuOnItemClick]="false">

    <button type="button" class="dropdown-toggle btn btn-primary" clrDropdownTrigger>
        año: {{filters.year}}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <button *ngFor="let y of years" type="button" clrDropdownItem (click)="filters.year = y">{{y}}</button>
    </clr-dropdown-menu>
</clr-dropdown>

<clr-dropdown [clrCloseMenuOnItemClick]="false">

    <button type="button" class="dropdown-toggle btn btn-primary" clrDropdownTrigger>
        Zona: {{filters.zone === -1 ? "Todas" : filters.zone}}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <button *ngFor="let z of zones" type="button" clrDropdownItem (click)="filters.zone = z">{{z == -1 ? "Todas" :
            z}}</button>
    </clr-dropdown-menu>
</clr-dropdown>

<button class="btn btn-success" (click)="updateChart()">Actualizar</button>

<div id="radar-svg"></div>