<div class="main-container">
  <!---------------------------------Zona de Cabecera-------------------------------------->
  <header class="header-7">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="tree-view"></clr-icon>
        <span class="title">¿Votaciones Correlacionadas?</span>
      </a>
    </div>
    <div class="header-actions">
    </div>
  </header>
  <!---------------------------------Zona de Contenido------------------------------------->
  <div class="content-container">
    <div class="content-area">

      <div class="clr-row">
        <div class="clr-col-md-3">
          <span style="color:#006668; font-weight:bold">Ordene los check box por:</span>
          <div class="clr-select-wrapper">
            <select id="select-full" class="clr-select" [(ngModel)]="order">
              <option value="dd1_may_cat">Participación en mas de dos categorías</option>
              <option value="dd2_may_votos">Mayoría total de votos</option>
              <option value="dd3_may_votos">Mayoría total de votos Presidencia</option>

            </select>
          </div>
          <label class="clr-control-label">Elija máximo 6 partidos políticos:</label>
          <br>
          <div class="clr-control-container" id="checkbox_container_id">
          </div>
          <button class="btn btn-primary" (click)="calculate_correlation()">Comparar Correlaciones</button>
        </div>
        <!---------------------------------Sección de la VIZ------------------------------------->
        <div class=" clr-col-md-9">

          <svg id="matrix" class="viz" width="1200" height="1500"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tooltip" style="opacity: 0"></div>


<div class="insights-btn-container">
  <button class="btn btn-success" (click)="showInsights = true">Insights</button>
</div>


<clr-wizard #wizardmd [(clrWizardOpen)]="showInsights" clrWizardSize="lg">
  <clr-wizard-title>Insights</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Cámara y Senado</ng-template>
    <img class="insight-img" src="assets/images/insights/insight1-day.png">
    <p> La mayoría de correlaciones se dan entre la cámara y el senado, y algunas veces incluyen alcaldía.
      Estas votaciones, se presentan en el mismo año.</p>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Centro Democrático</ng-template>
    <img class="insight-img" src="assets/images/insights/insight2-day.png">
    <p> Centro democrático es el partido político con mas correlaciones, tanto positivas como negativas.
      Positivas entre el senado y la cámara, y negativas entre el senado, la alcaldía y la presidencia.</p>
  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageTitle>No hay patrón de correlaciones</ng-template>
    <img class="insight-img" src="assets/images/insights/insight3-day.png">
    <p>No se observa ningún patrón de correlaciones entre los tipos o categorías de votaciones. Cada año cambia y en
      cada partido se comporta de forma diferente. Por tanto no se puede decir que un tipo de votación, (cámara,
      senado, alcaldía, etc) aumentara o disminuirá votos del candidato de ese mismo partido que se presente a la
      presidencia.</p>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Senado y Cámara 2018</ng-template>
    <img class="insight-img" src="assets/images/insights/insight4-day.png">
    <p>Durante el 2018 en los partidos mas importantes hubo una correlación fuerte negativa entre el senado y la
      cámara. Es decir, entre mas curules se ganaba un partido en el senado, mas curules perdía en la cámara.</p>
  </clr-wizard-page>

</clr-wizard>