<div class="main-container">
  <!---------------------------------Zona de Cabecera-------------------------------------->
  <header class="header-7">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="tree-view"></clr-icon>
        <span class="title">¿Votaciones Correlacionadas?</span>
      </a>
    </div>
    <div class="header-actions">
    </div>
  </header>
  <!---------------------------------Zona de Contenido------------------------------------->
  <div class="content-container">
    <div class="content-area">

      <div class="clr-row">
        <div class="clr-col-md-3">
          <label class="clr-control-label">Elija máximo 6 partidos políticos:</label>
          <br>
          <div class="clr-control-container" id="checkbox_container_id">
          </div>
          <button class="btn btn-primary" (click)="calculate_correlation()">Comparar Correlaciones</button>
        </div>
        <!---------------------------------Sección de la VIZ------------------------------------->
        <div class=" clr-col-md-9">

          <svg id="matrix" class="viz" width="1200" height="1500"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tooltip" style="opacity: 0"></div>