<div class="main-container">
  <header class="header-5">
    <div class="branding">
      <a class="nav-link">
        <span class="title">Partidos</span>
      </a>
    </div>
    <div class="header-nav">
      <a *ngFor="let y of years" class="nav-link {{y.active}}" (click)="setCurrentYear(y)"><span class="nav-text">{{y.start}}
          - {{y.end}}</span></a>
    </div>
    <div class="header-actions">
      <button class="btn btn-primary" (click)="showCoaliciones = true">Ver Coaliciones</button>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-xl-6 clr-col-lg-8 clr-col-md-12 clr-col-sm-12">
          <div class="card">
            <div class="card-header">
              Utiliza el mapa para seleccionar localidades
            </div>
            <div class="card-block">
              <p class="card-text">
                Al seleccionar una localidad el radar de la derecha se actualizará con la nueva información.
              </p>
            </div>
            <div id="map-container" class="card-img">
              <app-map (onUpdateScaleColors)="setScaleColors($event)" [width]="700" (onSelectZone)="setZone($event)"
                [votation]="selected_type" [year]="selected_year"></app-map>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" (click)="resetZone()">
                <clr-icon shape="trash"></clr-icon>
                Localidad Seleccionada: {{selected_zone.name}}
              </button>
            </div>
          </div>
        </div>

        <div class="clr-col-xl-6 clr-col-md-12 clr-col-lg-4 clr-col-sm-12">
          <app-radar-chart [year]="selected_year" [zone]="selected_zone"></app-radar-chart>
        </div>
      </div>

      <div class="clr-row">
        <!--<app-party-arc-diagram [width]="1000"></app-party-arc-diagram>-->
      </div>

    </div>


  </div>
</div>

<div class="insights-btn-container">
  <button class="btn btn-success" (click)="showInsights = true">Insights</button>
</div>


<clr-wizard #wizardmd [(clrWizardOpen)]="showInsights" clrWizardSize="lg">
  <clr-wizard-title>Insights</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Centro Democrático</ng-template>
    <img class="insight-img" src="assets/images/insights/insight1-vic.png">
    <p>El Centro Democrático es un partido que apareció 2014 y con una gran fuerza en la capital. En 2018 aunque tiene
      la presidencia y mucha fuerza en el senado se nota que está perdiendo popularidad en la capital. Particularmente
      en 2018 perdieron casi la mitad de los votos respecto a las elecciones anteriores</p>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Todos con todos</ng-template>
    <img class="insight-img" src="assets/images/insights/insight2-vic.png">
    <p>No hay sentido pelearse por partidos políticos. Vemos que cuando se trata de conseguir votos casi que se puede
      decir que todos se relacionan entre sí. Particularmente el partido Cambio Radical se ha unido con muchos otros
      para conseguir sus objetivos electorales.</p>
  </clr-wizard-page>
</clr-wizard>

<clr-modal [(clrModalOpen)]="showCoaliciones" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">Cómo se relacionan los partidos?</h3>
  <div class="modal-body">
    <div class="clr-row clr-justify-content-center">
      <app-party-arc-diagram [width]="800" [height]="800" [showChart]="showCoaliciones"></app-party-arc-diagram>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="showCoaliciones = false">
      cerrar
    </button>
  </div>
</clr-modal>