<div class="main-container">
  <app-header (onSelectYear)="setYear($event)" (onSelectElectionType)="setElectionType($event)"></app-header>

  <div class="content-container">
    <!--<clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">Charmander</a>
      <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Jigglypuff</a>
      <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Pikachu</a>
      <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Raichu</a>
      <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Snorlax</a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a>
    </clr-vertical-nav>-->
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-md-6 clr-col-sm-12">
          <div class="card">
            <div class="card-header">
              Así vota Bogotá
            </div>
            <div class="card-block">
              <p class="card-text">
                Las votaciones de Bogotá se encuentran registradas ...
              </p>
            </div>
            <div id="map-container" class="card-img">
              <app-map [width]="700"></app-map>
            </div>
            <div class="card-block">
              <p class="card-text">
                Selecciona una localidad en el mapa para actulizar las distintas visualizaciones a la derecha
              </p>
            </div>
          </div>
        </div>

        <div class="clr-col-md-6 clr-col-sm-12">
          <clr-tabs>
            <clr-tab>
              <button clrTabLink id="link1">Bar</button>
              <clr-tab-content id="content1" *clrIfActive="true">
                <app-barchart-votes [votation]="selected_type" [year]="selected_year" ></app-barchart-votes>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Radar</button>
              <clr-tab-content *clrIfActive>
                <app-radar-chart></app-radar-chart>
              </clr-tab-content>
            </clr-tab>
          </clr-tabs>
        </div>

      </div>
    </div>
  </div>
</div>